<table id="results">
  <tr>
    <td class="header">Frame:</td>
    <%== header_cells %>
    <td>
      TOTAL
    </td>
  </tr>
  <tr>
    <td class="header">Score:</td>
    <%== score_cells%>
    <td class="total">
      <%= @game.total %>
    </td>
  </tr>
</table>